---
- name: Provision Dev Box
  hosts: all
  become: yes

  vars_files:
    - vars/git.yml
    - vars/rvm1-ruby.yml
    - vars/postgresql.yml
    - vars/redis.yml

  pre_tasks:
    - name: run ansible galaxy
      local_action: command ansible-galaxy install -r dependencies.yml -p roles/ --ignore-errors

  roles:
    - geerlingguy.git
    - rvm_io.rvm1-ruby
    - erumble.postgresql
    - geerlingguy.redis
